<div class="login-box" style="text-align: center;">
	<img alt="UNINETT Dataporten" src="/images/sso_buttons/sso-dataporten.svg" width="15">&nbsp;
	<%= link_to t("oauth_login", "Logg på med Dataporten"),  "/auth/dataporten/", :id => 'oauth_login' %>
</div>